<h2>Information for Flight <%= @flight.number %> with <%= @flight.airline.name %></h2>
<table id="flight-info">
  <tr>
    <td>Id:</td><td><%= @flight.id %></td>
  </tr>
  <tr>
    <td>Number:</td><td><%= @flight.number %></td>
  </tr>
  <tr>
    <td>Date:</td><td><%= @flight.date %></td>
  </tr>
  <tr>
    <td>Time:</td><td><%= @flight.time %></td>
  </tr>
  <tr>
    <td>Departure City:</td><td><%= @flight.departure_city %></td>
  </tr>
  <tr>
    <td>Arrival City:</td><td><%= @flight.arrival_city %></td>
  </tr>
</table>
<hr>
<p id='airline-info'>Name of airline: <%= link_to @flight.airline.name, "/airlines/#{@flight.airline.id}" %></p>
<hr>
<p id='major-passengers-count'>Number of adult passengers on flight: <%= @flight.count_maj_passenger %></p>
<p id='minor-passengers-count'>Number of minor passengers on flight: <%= @flight.count_min_passenger %></p>
<hr>
<table>
  <th>Passengers</th>
  <% @flight.passengers.each do |passenger| %>
    <tr id="passenger-<%= passenger.id %>">
      <td><%= link_to passenger.name, "/passengers/#{passenger.id}" %></td>
    </tr>
  <% end %>
</table>
