<h2>Passenger Details</h2>
<p>Name: <%= @passenger.name %></p>
<p>Age: <%= @passenger.age %></p>
<hr>
<table>
  <th>Airline</th><th>Flight Number</th>
  <% @passenger.flights.each do |flight| %>
    <tr id="passenger-flight-<%= flight.id %>">
      <td><%= flight.airline.name %></td>
      <td><%= link_to flight.number, "/flights/#{flight.id}" %>
    </tr>
  <% end %>
</table>
<hr>
<section id='assign-passenger-to-flight'>
  <h4>Assign <%= @passenger.name %> to a flight:</h4>
  <%= form_tag "/passengers/#{@passenger.id}", method: :patch do %>
    <%= label_tag :flight_number %>
    <%= number_field_tag :flight_number %>

    <%= submit_tag 'Assign Passenger to Flight' %>
  <% end %>
</section>
