<h2>Passenger Details</h2>
<p>Name: <%= @passenger.name %></p>
<hr>
<table>
  <th>Flights</th>
  <% @passenger.flights.each do |passenger_flight| %>
    <tr id="passenger-flight-<%= passenger_flight.id %>">
      <td><%= link_to passenger_flight.number, "/flights/#{passenger_flight.id}" %>
    </tr>
  <% end %>
</table>
<hr>
<section id='assign-passenger-to-flight'>
  <h4>Assign <%= @passenger.name %> to a flight:</h4>
  <%= form_tag "/passengers/#{@passenger.id}", method: :patch do %>
    <%= label_tag :flight_number %>
    <%= number_field_tag :flight_number %>

    <%= submit_tag 'Assign Passenger to Flight' %>
  <% end %>
</section>
